{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
  <meta name="description" content="QuickMed - Applying AI to medical diagnostics">

  <title>QuickMed - Applying AI to medical diagnostics</title>
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons2/mobirise2.css' %}">
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css' %}">
  <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">



</head>

<body>
  <section class="menu cid-rDhZwksPXv" once="menu" id="menu1-7">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="menu-logo">
        <div class="navbar-brand">
          <span class="navbar-logo">
            <a href="index.html">
              <img src="{% static 'assets/images/logo.png' %}" alt="QuickMed" title="" style="height: 3.8rem;">
            </a>
          </span>
          <span class="navbar-caption-wrap"><a class="navbar-caption text-danger display-2" href="index.html">
              QuickMed</a></span>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
          <li class="nav-item">
            <a class="nav-link link text-danger display-4" href="index.html"><span class="mbrib-home mbr-iconfont mbr-iconfont-btn"></span>
              Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link text-danger display-4" href="index.html#features11-b"><span class="mbrib-users mbr-iconfont mbr-iconfont-btn"></span>

              About Us
            </a>
          </li>
          <li class="nav-item"><a class="nav-link link text-danger display-4" href="index.html#content4-j"><span class="mbrib-rocket mbr-iconfont mbr-iconfont-btn"></span>
              Product</a></li>
          <li class="nav-item"><a class="nav-link link text-danger display-4" href="index.html#content4-d"><span class="mbrib-android mbr-iconfont mbr-iconfont-btn"></span>
              Technology</a></li>
        </ul>
        <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-danger display-4" href="login.html"><span class="mbrib-rocket mbr-iconfont mbr-iconfont-btn"></span>
            Get Started</a></div>
      </div>
    </nav>
  </section>

  <section class="cid-rDhTd6GjZu mbr-fullscreen mbr-parallax-background" id="header2-4">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
      <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
          <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Applying AI to medical diagnostics</h1>

          <p class="mbr-text pb-3 mbr-fonts-style display-5">
            The future of disease diagnostics is here.<br>Using Artificial Intelligence to bring lab-quality test results &amp; diagnostics to the doctor's office
          </p>
          <div class="mbr-section-btn"><a class="btn btn-md btn-danger display-4" href="index.html#features11-b"><span class="mbrib-arrow-down mbr-iconfont mbr-iconfont-btn"></span>LEARN MORE</a> <a class="btn btn-md btn-danger display-4"
              href="login.html"><span class="mbrib-rocket mbr-iconfont mbr-iconfont-btn"></span>GET STARTED</a></div>
        </div>
      </div>
    </div>

  </section>

  <section class="features11 cid-rDi19FYZmB" id="features11-b">





    <div class="container">
      <div class="col-md-12">
        <div class="media-container-row">
          <div class=" align-left aside-content">
            <h2 class="mbr-title pt-2 mbr-fonts-style display-2"><strong>
                About Us</strong></h2>
            <div class="mbr-section-text">
              <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-5"><strong>
                  We’re Setting the Standards in Research &amp; Clinical Care
                </strong></p>
            </div>

            <div class="block-content">
              <div class="card p-3 pr-3">
                <div class="media">

                  <div class="media-body">

                  </div>
                </div>

                <div class="card-box">
                  <p class="block-text mbr-fonts-style display-5">
                    QuickMed was created by LordGhostX, Ochuko & Destiny to solve problems associated with costs & running time in medical tests and diagnostics. Many diagnostic issues are data-driven and resolving them requires new data-science
                    based approaches. QuickMed is focused on using innovative AI and machine-learning techniques to improve diagnostic accuracy, cut costs, decrease testing time and improve patient safety worldwide.
                  </p>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mbr-section content4 cid-rDjEN3tcoW" id="content4-j">



    <div class="container">
      <div class="media-container-row">
        <div class="title col-12 col-md-8">
          <h2 class="align-center pb-3 mbr-fonts-style display-2"><strong>
              Our Product</strong></h2>
          <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
            QuickMed has the ability to perform a variety of diagnostics autonomously with artificial intelligence including but not limited to the following...</h3>

        </div>
      </div>
    </div>
  </section>

  <section class="features1 cid-rDjItWCapL" id="features1-r">




    <div class="container">
      <div class="media-container-row">

        <div class="card p-3 col-12 col-md-6 col-lg-3">
          <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5"><strong>Malaria Cell Detection</strong></h4>
            <p class="mbr-text mbr-fonts-style display-7">QuickMed web platform has the ability to detect malaria cells in their early stages so the patient can start taking early treatment leading to lesser medical costs.&nbsp;<br></p>
          </div>
        </div>

        <div class="card p-3 col-12 col-md-6 col-lg-3">
          <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5"><strong>Skin Cancer Classification</strong></h4>
            <p class="mbr-text mbr-fonts-style display-7">
              QuickMed also has the feature to classify skin cancer as either malignant or benign with only an image of the skin which will eventually save up cost of taking the test with the same accuracy levels as actually taking it.
            </p>
          </div>
        </div>

        <div class="card p-3 col-12 col-md-6 col-lg-3">
          <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5"><strong>Thorax Disease Identification</strong></h4>
            <p class="mbr-text mbr-fonts-style display-7">
              QuickMed also has the ability to detect up to 15 disease patterns of thorax disease from a given X-ray image sample. This will help hospitals automate radiologist analysis saving costs and also getting better accuracy scores.
            </p>
          </div>
        </div>

        <div class="card p-3 col-12 col-md-6 col-lg-3">
          <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5"><strong>Optical Coherence Tomography Analysis</strong></h4>
            <p class="mbr-text mbr-fonts-style display-7">
              QuickMed platfrom can perform retinal optical coherence tomography analysis in realtime. This type of analysis typically takes about 10 minutes and equipment for such tests cost up to $35K to $150K.
            </p>
          </div>
        </div>

      </div>

    </div>

  </section>

  <section class="cid-rDjFVjvZ3a" id="image1-k">



    <figure class="mbr-figure container">
      <div class="image-block" style="width: 66%;">
        <img src="{% static 'assets/images/home-1348x652.jpg' %}" width="1400" alt="QuickMed" title="">

      </div>
    </figure>
  </section>

  <section class="mbr-section content4 cid-rDjAtB5jrw" id="content4-k">



    <div class="container">
      <div class="media-container-row">
        <div class="title col-12 col-md-8">
          <h2 class="align-center pb-3 mbr-fonts-style display-2"><strong>
              Our Approach with AI</strong></h2>


        </div>
      </div>
    </div>
  </section>

  <section class="features10 cid-rDjzYPt7AI" id="features10-j">




    <div class="container">
      <div class="row justify-content-center">
        <div class="card p-3 col-12 col-md-6 col-lg-4">
          <div class="media mb-3">
            <div class="card-img align-self-center">
              <span class="mbr-iconfont mbrib-upload" style="color: rgb(1, 214, 163); fill: rgb(1, 214, 163);"></span>
            </div>
            <h4 class="card-title media-body py-3 mbr-fonts-style display-5"><strong>
                Autonomous</strong></h4>
          </div>
          <div class="card-box">
            <p class="mbr-text mbr-fonts-style display-7">Our AI systems are autonomous and assistive - enabling disease detection in primary care that would typically involve a specialist or special equipment.</p>
          </div>
        </div>

        <div class="card p-3 col-12 col-md-6 col-lg-4">
          <div class="media mb-3">
            <div class="card-img align-self-center">
              <span class="mbr-iconfont mbrib-setting" style="color: rgb(1, 214, 163); fill: rgb(1, 214, 163);"></span>
            </div>
            <h4 class="card-title media-body py-3 mbr-fonts-style display-5"><strong>
                Explanative</strong></h4>
          </div>
          <div class="card-box">
            <p class="mbr-text mbr-fonts-style display-7">Our deep learning-based detectors search for the same signs of disease as a clinician, so we know how the AI came to its decision. It is able to surpass specialists in result accuracy,
              delivery time &amp; cost.</p>
          </div>
        </div>

        <div class="card p-3 col-12 col-md-6 col-lg-4">
          <div class="media mb-3">
            <div class="card-img align-self-center">
              <span class="mbr-iconfont mbrib-code" style="color: rgb(1, 214, 163); fill: rgb(1, 214, 163);"></span>
            </div>
            <h4 class="card-title media-body py-3 mbr-fonts-style display-5"><strong>
                Clinically Based</strong></h4>
          </div>
          <div class="card-box">
            <p class="mbr-text mbr-fonts-style display-7">Our algorithms are developed with insights from leading medical experts and are based on existing clinical practice guidelines.</p>
          </div>
        </div>


      </div>
    </div>
  </section>

  <section class="mbr-section content4 cid-rDi5KCcMur" id="content4-d">



    <div class="container">
      <div class="media-container-row">
        <div class="title col-12 col-md-8">
          <h2 class="align-center pb-3 mbr-fonts-style display-2"><strong>
              Our Technology</strong></h2>


        </div>
      </div>
    </div>
  </section>

  <section class="features1 cid-rDhUiTiuY6" id="features1-5">




    <div class="container">
      <div class="media-container-row">

        <div class="card p-3 col-12 col-md-6 col-lg-4">
          <div class="card-img pb-3">
            <span class="mbr-iconfont mbrib-rocket" style="color: rgb(1, 214, 163); fill: rgb(1, 214, 163);"></span>
          </div>
          <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5">
              QuickMed</h4>
            <p class="mbr-text mbr-fonts-style display-7">
              The first ever autonomous AI system that provides diagnostics to medical practitioners assisting them in delivering results quicker, more accurate &amp; at cheaper costs.</p>
          </div>
        </div>

        <div class="card p-3 col-12 col-md-6 col-lg-4">
          <div class="card-img pb-3">
            <span class="mbr-iconfont mbrib-android" style="color: rgb(1, 214, 163); fill: rgb(1, 214, 163);"></span>
          </div>
          <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5">Medical diagnostics meets AI</h4>
            <p class="mbr-text mbr-fonts-style display-7">
              Combining patented sample preparation with artificial intelligence, QuickMed delivers unprecedented diagnostic accuracy, simplicity and reliability.
            </p>
          </div>
        </div>

        <div class="card p-3 col-12 col-md-6 col-lg-4">
          <div class="card-img pb-3">
            <span class="mbr-iconfont mbrib-protect" style="color: rgb(1, 214, 163); fill: rgb(1, 214, 163);"></span>
          </div>
          <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5">Lab-quality results without a lab</h4>
            <p class="mbr-text mbr-fonts-style display-7">
              QuickMed's algorithm analyzes special characteristics from the patient to provide Lab-quality results in minutes, which are then displayed on-screen for the doctor to give to the patient.</p>
          </div>
        </div>



      </div>

    </div>

  </section>

  <section class="features4 cid-rDi52TvS5a" id="features4-c">




    <div class="container">
      <div class="media-container-row">
        <div class="card p-3 col-12 col-md-6 col-lg-4">
          <div class="card-wrapper media-container-row media-container-row">
            <div class="card-box">

              <p class="mbr-text mbr-fonts-style display-7">
                QuickMed is playing a part in the future of medicine by applying artificial intelligence (AI) to diagnostics – making tests more automated, more accurate and therefore safer.
              </p>
            </div>
          </div>
        </div>

        <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
          <div class="card-wrapper media-container-row">
            <div class="card-box">

              <p class="mbr-text mbr-fonts-style display-7">
                Embedding AI into diagnostics removes opportunities for human error and saves clinical labs time and money. For medical professionals, AI-enabled diagnostics result in more suitable patient treatment plans. For patients, diagnostics
                that are more reliable increase safety and limit preventable deaths.
              </p>
            </div>
          </div>
        </div>

        <div class="card p-3 col-12 col-md-6 col-lg-4">
          <div class="card-wrapper media-container-row">
            <div class="card-box">

              <p class="mbr-text mbr-fonts-style display-7">
                At a global level, real-time data acquisition and AI-based standardisation has the potential to allow governments and NGOs to more effectively manage resources using data-driven monitoring of infection spread. By reducing need for
                trained staff, AI also helps resolve globally recognised staff-shortage issues.
              </p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

  <section class="mbr-section contacts3 cid-rDi6ydToWn" id="contacts3-f">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
      <div class="row">
        <!--Titles-->
        <div class="title col-12">
          <h2 class="align-left mbr-fonts-style display-2"><strong>
              Our Contacts
            </strong></h2>

        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="wrapper">
                <span class="iconfont-wrapper">
                  <span class="amp-iconfont icon fa-thumbs-o-up fa mobi-mbri-map-pin mobi-mbri" style="color: rgb(1, 214, 163); fill: rgb(1, 214, 163);"></span>
                </span>
                <div class="b-info b-adress">
                  <h5 class="align-left mbr-fonts-style display-5">Physical Address:
                  </h5>
                  <p class="mbr-text align-left mbr-fonts-style display-7">
                    University of Lagos, Akoka Rd, Yaba, Lagos
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="wrapper">
                <span class="iconfont-wrapper">
                  <span class="amp-iconfont icon fa-phone fa socicon-viber socicon" style="color: rgb(1, 214, 163); fill: rgb(1, 214, 163);"></span>
                </span>
                <div class="b-info b-phone">
                  <h5 class="align-left mbr-fonts-style display-5">Contact Number:
                  </h5>
                  <p class="mbr-text align-left mbr-fonts-style display-7">
                    +234 701 731 9827</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="wrapper">
                <span class="iconfont-wrapper">
                  <span class="amp-iconfont icon fa-comment-o fa socicon-mail socicon" style="color: rgb(1, 214, 163); fill: rgb(1, 214, 163);"></span>
                </span>
                <div class="b-info b-mail">
                  <h5 class="align-left mbr-fonts-style display-5">
                    Email Address:
                  </h5>
                  <p class="mbr-text align-left mbr-fonts-style display-7">
                    info@quickmed.ml</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="wrapper">
                <span class="iconfont-wrapper">
                  <span class="amp-iconfont icon fa-th-large fa mbrib-timer" style="color: rgb(1, 214, 163); fill: rgb(1, 214, 163);"></span>
                </span>
                <div class="b-info b-mail">
                  <h5 class="align-left mbr-fonts-style display-5">
                    Working Hours:
                  </h5>
                  <p class="mbr-text align-left mbr-fonts-style display-7">The platform is available 24/7/365</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section once="footers" class="cid-rDi7hSUkG4" id="footer6-g">





    <div class="container">
      <div class="media-container-row align-center mbr-white">
        <div class="col-12">
          <p class="mbr-text mb-0 mbr-fonts-style display-7"><strong>
              Copyright © 2019 QuickMed</strong>
          </p>
        </div>
      </div>
    </div>
  </section>


  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'assets/parallax/jarallax.min.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>


</body>

</html>