{% load static %}

<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/favicon-107x108-1.png" type="image/x-icon">
  <meta name="description" content="Register">

  <title>Login to QuickMed to get realtime diagnostics</title>
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css' %}">
  <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">



</head>
<body>
  <section class="menu cid-rDhZwksPXv" once="menu" id="menu1-s">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="index.html">
                         <img src="{% static 'assets/images/logo.png' %}" alt="QuickMed" title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-danger display-2" href="index.html">
                        QuickMed</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-danger display-4" href="index.html"><span class="mbrib-home mbr-iconfont mbr-iconfont-btn"></span>
                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-danger display-4" href="index.html#features11-b"><span class="mbrib-users mbr-iconfont mbr-iconfont-btn"></span>

                        About Us
                    </a>
                </li><li class="nav-item"><a class="nav-link link text-danger display-4" href="index.html#content4-j"><span class="mbrib-rocket mbr-iconfont mbr-iconfont-btn"></span>
                        Product</a></li><li class="nav-item"><a class="nav-link link text-danger display-4" href="index.html#content4-d"><span class="mbrib-android mbr-iconfont mbr-iconfont-btn"></span>
                        Technology</a></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-danger display-4" href="index.html#contacts3-f"><span class="socicon socicon-mail mbr-iconfont mbr-iconfont-btn"></span>
                    Contact Us</a></div>
        </div>
    </nav>
</section>

<section class="mbr-section form1 cid-rDjTlkFZLE" id="form1-u">




    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2"><strong>
                    Register</strong></h2>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8">
                <!---Formbuilder Form--->
                <form  method="POST" class="mbr-form form-with-styler">
                    {% csrf_token %}
                    <div class="dragArea row">
                        <div class="col-md-12  form-group">
                            <label for="email-form1-u" class="form-control-label mbr-fonts-style display-7">Email Address</label>
                            <input type="email" name="email" required="required" class="form-control display-7" id="email-form1-u">
                        </div>
                        <div class="col-md-12  form-group">
                            <label for="hospital-name-form1-u" class="form-control-label mbr-fonts-style display-7">Hospital Name</label>
                            <input type="text" name="hospital-name" required="required" class="form-control display-7" id="hospital-name-form1-u">
                        </div>
                        <div class="col-md-12  form-group">
                            <label for="hospital-address-form1-u" class="form-control-label mbr-fonts-style display-7">Hospital Address</label>
                            <input type="text" name="hospital-address" required="required" class="form-control display-7" id="hospital-address-form1-u">
                        </div>
                        <div class="col-md-12  form-group">
                            <label for="hospital-phone-form1-u" class="form-control-label mbr-fonts-style display-7">Hospital Phone Number</label>
                            <input type="text" name="hospital-phone" required="required" class="form-control display-7" id="hospital-phone-form1-u">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="password-form1-u" class="form-control-label mbr-fonts-style display-7">Password</label>
                            <input type="password" name="password1" required="required" class="form-control display-7" id="password-form1-u">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="password-form1-u" class="form-control-label mbr-fonts-style display-7">Confirm Password</label>
                            <input type="password" name="password2" required="required" class="form-control display-7" id="password-form1-u">
                        </div>
                        <div class="col-md-12 input-group-btn align-center"><button type="submit" class="btn btn-form btn-danger display-4">REGISTER</button></div>
                    </div>

                </form><!---Formbuilder Form--->
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-rDjVlViKBA" id="content4-v">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">

                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">



            </div>
        </div>
    </div>
</section>

<section once="footers" class="cid-rDi7hSUkG4" id="footer6-t">





    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7"><strong>
                    Copyright © 2019 QuickMed</strong>
                </p>
            </div>
        </div>
    </div>
</section>


  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>


</body>
</html>
