<h1 id="quickmedapidocumentation">QuickMed API Documentation</h1>

<p>/api - API root directory (current page)</p>

<p>/api/malaria - Malaria API</p>

<pre><code>{
    "img_url": "image to scan (string)"
}
</code></pre>

<pre><code>{
    "success": "API response success (boolean)",
    "error": "error message (object)",
    "test_type": "test type (string)",
    "message": "test message (string)",
    "result": "result (string)",
    "confidence": "confidence score (floating point)"
}
</code></pre>

<p>/api/skin_cancer - Skin Cancer API</p>

<pre><code>{
    "img_url": "image to scan (string)"
}
</code></pre>

<pre><code>{
    "success": "API response success (boolean)",
    "error": "error message (object)",
    "test_type": "test type (string)",
    "message": "test message (string)",
    "result": "result (string)",
    "confidence": "confidence score (floating point)"
}
</code></pre>
