{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>QuickMed Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- App favicon -->
  <link rel="shortcut icon" href="{% static 'account/assets/images/favicon.ico' %}">

  <!-- App css -->
  <link href="{% static 'account/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'account/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'account/assets/css/theme.min.css' %}" rel="stylesheet" type="text/css" />

</head>

<body>

  <!-- Begin page -->
  <div id="layout-wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">

      <div data-simplebar class="h-100">

        <!-- LOGO -->
        <div class="navbar-brand-box">
          <a href="index.html" class="logo">
            <span>
              <img src="{% static 'account/assets/images/logo-light.png' %}" alt="">
            </span>
            <i>
              <img src="{% static 'account/assets/images/logo-small.png' %}" alt="">
            </i>
          </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
            <li class="menu-title">Menu</li>

            <li>
              <a href="index.html"><i class="feather-home"></i><span>Dashboard</span></a>
            </li>

            <li>
              <a href="tests.html"><i class="fas fa-vial"></i><span>Take Test</span></a>
            </li>

            <li>
              <a href="statistics.html"><i class="fas fa-chart-bar"></i><span>Test Statistics</span></a>
            </li>

            <li>
              <a href="results.html"><i class="fas fa-history"></i><span>Test History</span></a>
            </li>

            <li>
              <a href="billing.html"><i class="fas fa-money-check"></i><span>Billing</span></a>
            </li>

            <li>
              <a href="settings.html"><i class="feather-settings"></i><span>Settings</span></a>
            </li>

            <li>
              <a href="contact.html"><i class="fas fa-users"></i><span>Contact Us</span></a>
            </li>

            <li>
              <a href="logout.html"><i class="feather-power"></i><span>Logout</span></a>
            </li>
          </ul>
        </div>
        <!-- Sidebar -->
      </div>
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

      <header id="page-topbar">
        <div class="navbar-header">
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-sm mr-2 d-lg-none header-item" id="vertical-menu-btn">
              <i class="fa fa-fw fa-bars"></i>
            </button>

            <div class="header-breadcumb">
              <h6 class="header-pretitle d-none d-md-block">Account <i class="feather-chevrons-right"></i> Dashboard <i class="feather-chevrons-right"></i> Settings</h6>
              <h2 class="header-title">QuickMed Settings</h2>
            </div>
          </div>

        </div>
      </header>

      <div class="page-content">
        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">

                  <h4 class="card-title">Account Details</h4>
                  <p class="card-subtitle mb-4">Change basic account info</p>

                  <form method="">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">

                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" name="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp" placeholder="Reset account password">
                      <small id="passwordHelp" class="form-text text-muted">Reset account password</small>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save Details</button>
                  </form>

                </div>
                <!-- end card-body-->
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Hospital Details</h4>
                  <p class="card-subtitle mb-4">Change settings about the hospital</p>

                  <form method="POST">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputText1">Hospital Name</label>
                      <input type="text" class="form-control" value="{{user.profile.hospital_name}}" id="exampleInputText1" placeholder="Hospital Name" name="hospital_name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputText2">Hospital Address</label>
                      <input type="text" class="form-control" value="{{user.profile.hospital_address}}" id="exampleInputText2" placeholder="Hospital Address" name="hospital_address">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputText3">Hospital Phone Number</label>
                      <input type="text" class="form-control" value="{{user.profile.hospital_phone}}" id="exampleInputText3" placeholder="Hospital Phone" name="hospital_phone">
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save Details</button>
                  </form>

                </div>
                <!-- end card-body-->
              </div>
            </div>

            <div class="col-lg-12" id="billing-settings">
              <div class="card">
                <div class="card-body">

                  <h4 class="card-title">Billing Details</h4>
                  <p class="card-subtitle mb-4">Change billing details</p>

                    <div class="form-group">
                      <label for="exampleInputText4">You have not linked any card to your QuickMed account</label>
                    </div>
                    <a href="payment.html"><button  type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Add Card</button>

                </div>
                <!-- end card-body-->
              </div>
            </div>
          </div>
          <!-- end row-->

        </div>
        <!-- container-fluid -->
      </div>
      <!-- End Page-content -->

      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              Copyright © 2019 QuickMed
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->

  <!-- Overlay-->
  <div class="menu-overlay"></div>


  <!-- jQuery  -->
  <script src="{% static 'account/assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'account/assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'account/assets/js/metismenu.min.js' %}"></script>
  <script src="{% static 'account/assets/js/waves.js' %}"></script>
  <script src="{% static 'account/assets/js/simplebar.min.js' %}"></script>

  <!-- App js -->
  <script src="{% static 'account/assets/js/theme.js' %}"></script>

</body>

</html>
